<div class="row">
    <div class="col">
        <img src="https://image.tmdb.org/t/p/original{{data.backdrop_path}}" width="50%">
    </div>
</div>
<div class="row">
    <div class="col">
        <p>{{data.original_title}}</p>
        <p>Genres: {{data.genres}}</p>
        <p>Release date: {{data.release_date}}</p>
        <p>Overview: {{data.overview}}</p>
    </div>
</div>